body{
  background-color: #FFF5EB;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  background-color: #ffd737;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  height: 100%;
  text-decoration: none;
}

li a:hover{
  cursor: pointer;
  background-color: grey;
}

#content{
  padding: 5em;
  background-color: rgb(250, 225, 230);
}

#todo{
  width: 100%;
  border: 1px solid black;
  height: 2.5em;
  border-radius: 10px;
}

#todo:hover{
  cursor: pointer;
  background-color: rgb(203, 203, 203);
}

#toDoOptions{
  display: flex;
  justify-content: space-between;
}

#newTodo{
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#textEntry{
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
  height: 2em;
  border-radius: 10px;
  display: block;
  margin-bottom: 0.5em;
}

#addBtn{
  width: 47%;
  height: 2em;
  background-color: green;
  border-radius: 5px;
  border: 0.5px solid black;
}

#cancelBtn{
  width: 47%;
  height: 2em;
  background-color: red;
  border-radius: 5px;
  border: 0.5px solid black;
}

button:hover{
  cursor: pointer;
}

#noDateDiv{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#noDateDiv button{
  background-color: rgb(203, 203, 203);
  border: none;
  height: 2em;
  margin: 1em;
}

#allContainer{
  width: 100%;
}

#todoItem {
  background-color: red;
}